:root {
    --cream: rgb(254, 255, 237);
    --hotpink: rgb(215, 22, 118);
    --lightpink: rgb(239, 116, 188);
    --yellow: rgb(255, 187, 0);
    --purple: rgb(150, 28, 184);
}

@font-face {
    font-family: Redaction-Italic;
    src: url(type/Redaction50-Italic.otf);
}

@font-face {
    font-family: Redaction-Regular;
    src: url(type/Redaction50-Regular.otf);
}

@font-face {
    font-family: Redaction-Bold;
    src: url(type/Redaction50-Bold.otf);
}

.yarndings-12-regular {
    font-family: "Yarndings 12", system-ui;
    font-weight: 400;
    font-style: normal;
}  

.hanken-grotesk-light {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.hanken-grotesk-reg {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hanken-grotesk-med {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html, main, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cream);
    color: var(--hotpink);
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content auto;
    gap: 1px 1px;
    background-color: var(--hotpink);
}

h1 {
    padding: 4px 10px 0;
    /* margin: -16px 0 0; */
    margin: 0;
    grid-column: 1 / span 2;
    background-color: var(--cream);
    font-size: 96px;
    /* letter-spacing: -1.5px; */
    text-transform: uppercase;
    /* line-height: 96px; */
}

.redaction-bold {
    font-family: Redaction-Bold;
    font-weight: 500;
}

.redaction-reg {
    font-family: Redaction-Regular;
    font-weight: 400;
}

.redaction-italic {
    font-family: Redaction-Italic;
    font-weight: 400;
}

p {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 65px;
    letter-spacing: -0.5px;
    line-height: 70px;
    text-transform: uppercase;
}

h3 {
    font-size: 52px;
    line-height: 54px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-size: 37px;
    line-height: 40px;
    letter-spacing: 0.25px;
}

h5 {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0px;
}

.subtitle {
    margin: 0 0 0 2px;
    display: block;
    padding: 4px 0 2px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

#tabs {
    display: grid;
    grid-template-columns: 1fr;
    height: max-content;
    gap: 1px 1px;
    background-color: var(--hotpink);
}

#tabs h3, #tabs h2 {
    margin: 0;
    background-color: var(--cream);
    transition: 100ms ease-in-out;
    padding: 4px 8px;
    border-radius: 5px;
}

#content {
    margin: 0;
    background-color: var(--cream);
    border-radius: 5px;
    overflow: scroll !important;
}

#tabs h3:hover, #tabs h2:hover, .current {
    color: var(--cream);
    background-color: var(--hotpink);
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.invisible {
    display: none !important;
}

.visible {
    display: grid;
}

.postContainer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--hotpink);
    gap: 1px 0;
}

.post {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    gap: 5px 0;
    border-radius: 5px;
    padding: 0px 8px 0;
    background-color: var(--cream);
}

.post .images {
    display: grid;
    grid-template-columns: 1fr;
}

.imgContainer {
    border-radius: 5px;
    padding: 8px 0;
}

.post .images img {
    margin: 0 8px 8px;
    padding: 0;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    border-radius: 50%;
    border: 1px solid var(--hotpink);
    transition: 100ms ease-in-out;
}

.post .images img:hover {
    border-radius: 5px;
    transition: 100ms ease-in-out;
}

.tag {
    background-color: var(--hotpink);
    color: var(--cream);
    padding: 4px 8px;
    margin: 8px 0;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.desc {
    width: 35%;
    z-index: 1;
    background-color: var(--cream);
    border: 1px solid var(--hotpink);
    border-bottom: none;
    justify-self: right;
    margin: -60px 50px 0 0;
    padding: 12px 16px;
    border-radius: 5px 5px 0 0;
}

.titles {
    margin: 8px;
}

a {
    text-decoration: none;
    color: var(--hotpink);
    transition: 100ms ease-in-out;
}

a:hover {
    cursor: alias;
    color: var(--purple);
    transition: 100ms ease-in-out;
}